@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 224 71% 4%; /* Deep Blue */
    --foreground: 210 40% 98%; /* Light Gray */
    --card: 224 71% 9%; /* Slightly lighter blue */
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 347 97% 73%; /* Vibrant Pink */
    --primary-foreground: 347 97% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 210 40% 60%;
    --accent: 210 40% 98%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 347 97% 73%;
    --radius: 0.8rem;
    --chart-1: 347 97% 73%;
    --chart-2: 210 40% 98%;
    --chart-3: 180 97% 73%;
    --chart-4: 60 97% 73%;
    --chart-5: 280 97% 73%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 40% 98%;
    --card: 224 71% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 347 97% 73%;
    --primary-foreground: 347 97% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 210 40% 60%;
    --accent: 210 40% 98%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 347 97% 73%;
    --chart-1: 347 97% 73%;
    --chart-2: 210 40% 98%;
    --chart-3: 180 97% 73%;
    --chart-4: 60 97% 73%;
    --chart-5: 280 97% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image:
        radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 0.2) 0px, transparent 50%),
        radial-gradient(at 97% 21%, hsla(339, 98%, 72%, 0.2) 0px, transparent 50%),
        radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 0.2) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 0.2) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 0.2) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 0.2) 0px, transparent 50%),
        radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 0.2) 0px, transparent 50%);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
